
form.login
  md-input-container
    input#email(md-input name="email" type="email" placeholder="Email" [(ngModel)]="email" required)
  md-input-container
    input#password(md-input name="password" placeholder="Password" type="password" [(ngModel)]="password" required)
  button(md-button (click)="onLogin()") Login